/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'MarcellusSC';
        src: url(./assets/fonts/MarcellusSC-Regular.ttf) format("truetype");
    }
    html {
        @apply min-h-full;
    }
    body {
        @apply bg-gray-100 min-h-full;
    }
    #app {
        @apply min-h-full;
        font-family: 'Roboto Slab', sans-serif;
    }
    p, div {
        font-family: 'Roboto Slab', sans-serif;
    }
    p {
        @apply my-16;
    }
    h1 {
        @apply text-4xl my-2;
        @apply font-marc;
    }
    h2 {
        @apply text-xl my-2;
        @apply font-marc;
    }
   
}
